
<link rel="stylesheet" href="/css/home.css">
<h1>Kashti , the social media app</h1>

<div id="home_Container">
        <div>
                <section id="feed-post">
                        <h4>Posts</h4>
                        <% if(locals.user){ %>
                                <form action="/posts/post_form" id="new-post-form"  method="POST">
                                        <textarea name="content" id="" cols="30" rows="3" placeholder="type here..."></textarea>
                                        <input type="submit" value="Post">
                                </form>
                        <% } %>
                </section>
                
                <%-include('_post.ejs')-%>
        </div>
        <div>
                <section id="user-friends">
                        <h4>Friends</h4>
                        <%for(u of all_users){%>
                              <p>
                                <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                              </p>  
                        <%}%>
                </section>
        </div>
</div>
<script src="/js/home_post.js"></script>




       