<form action="/users/validate" method="POST">
    <input type="email" required name="email" placeholder="email">
    <input type="password" required name="password" placeholder="Password">
    <button type="submit">Sign-In</button>
</form>

<p>
    <a href="/users/auth/google">Google-Sign IN/UP</a>
</p>