
<link rel="stylesheet" href="/css/user_profile.css">        
<h1>Kashti Users</h1>
<form action="/users/createNew" method="POST">
    <input type="email" name="email" value="abc@d.com" placeholder="email" required>
    <input type="password" name="password" value="sad" placeholder="pwd" required>
    <input type="String" name="name" value="Parth" placeholder="name" required>
    <button type="submit">Create User</button>
</form>
       