body {
  margin: 0;
  background-color: green; }

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  #header div {
    font-weight: bold; }
    #header div a {
      text-decoration: none; }
